body
{
	background-image: url(background.jpg);
	font-family: "arial";
	font-size: 26px;
	background-size: cover;
}

#header
{
	width: 23%;
	height: 6%;
	position: fixed;
	left: 2%;
	top: 2%;
	background-color: rgba(0,255,255,0.7);
	border: 3px solid black;
	text-align: center;
	font-size: 26px;
}

#nav
{
	width: 49%;
	height: 6%;
	position: fixed;
	left: 62%;
	top: 2%;
}

#nav #home
{
	width: 23%;
	height:100%;
	left: 0%;
	top: 0%;
	background-color: rgba(0,255,255,0.7);
	text-align: center;
	display: block;
	border: 3px solid black;
	position:absolute;
}

#nav #post
{
	width: 23%;
	height:100%;
	left: 24%;
	top: 0%;
	background-color: rgba(0,255,255,0.7);
	text-align: center;
	display: block;
	border: 3px solid black;
	position:absolute;
}

#nav #search
{
	width: 23%;
	height:100%;
	left: 48%;
	top: 0%;
	background-color: rgba(0,255,255,0.7);
	text-align: center;
	display: block;
	border: 3px solid black;
	position:absolute;
}

#nav #about
{
	width: 23%;
	height:100%;
	left: 72%;
	top: 0%;
	background-color: rgba(0,255,255,0.7);
	text-align: center;
	display: block;
	border: 3px solid black;
	position:absolute;
}

#nav a
{
	height: 100%;
	width: 100%;
	top: 30%;
	left: 0%;
	position: absolute;
	text-decoration: none;
	color: black;
}	

#main
{
	height: 85%;
	width: 95%;
	top: 10%;
	left: 2%;
	background-color: rgba(0,255,255,0.8);
	position: fixed;
	border: 3px solid black;
}

#main #info
{
	height: 35%; 
	width: 98%;
	left: 1%;
	top: 2%;
	position: absolute;
	line-height: 2;
	border-bottom: 2px solid black;
}

#main #form
{
	height: 45%; 
	width: 98%;
	left: 1%;
	top: 40%;
	position: absolute;
	line-height: 2;
}

#main #form #filter
{
	font-size: 18px;
}

#main #footer
{
	height: 18%; 
	width: 98%;
	left: 1%;
	top: 82%;
	position: absolute;
	line-height: 2;
	margin-left: 0px;
	font-size: 16px;
	border-top: 2px solid black;
}

#main #form #inputs
{
	left: 4.5%;
	position: absolute;
	transform: scale(1.2);
}
